@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

.registro-mobile {
  height: 100vh;
}

.login-mobile {
  height: 100vh;
}

.perfil-mobile {
  height: 90vh;
}